<!--
  Generated template for the UserLogin page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title><ion-icon name="log-in"></ion-icon>&nbsp;&nbsp;User Login</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <div class="login-box">
    <form (ngSubmit)="login()" #registerForm="ngForm">
      <ion-row>
        <ion-col>
          <ion-list inset>
            
            <ion-item>
              <ion-input type="text" placeholder="Username" name="username" [(ngModel)]="userCredentials.username" required></ion-input>
            </ion-item>
            
            <ion-item>
              <ion-input type="password" placeholder="Password" name="password" [(ngModel)]="userCredentials.password" required></ion-input>
            </ion-item>
            
          </ion-list>
        </ion-col>
      </ion-row>
      
      <ion-row>
        <ion-col>
          <button ion-button class="submit-btn" block type="submit" class="left-text"><ion-icon name="md-lock"></ion-icon>&nbsp;&nbsp;Login</button>
        </ion-col>
        <ion-col>
          <button ion-button class="submit-btn" block type="button" (click)="backToHome();" color="secondary"><ion-icon name="md-arrow-back"></ion-icon>&nbsp;&nbsp;Back to Home</button>
        </ion-col>
      </ion-row>
      
    </form>
  </div>
</ion-content>
