<ion-header>

  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Time In</ion-title>
  </ion-navbar>

</ion-header>

<ion-content padding>

  <div id="dateTime" text-center>
    Today is
    <br/>
    <span>{{ nowDate }}</span>
    <br/>
    <span>{{ nowTime }}</span>
  </div>

  <h2 id="startDayLabel">START DAY INFO</h2>
  <ion-col class="start-day-info">
    <ion-row>
      <ion-col>
        <strong>Latitude</strong>
      </ion-col>
      <ion-col>
        {{sessionModelProvider.sessionStatus.s_lat}}
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <strong>Longtitude</strong>
      </ion-col>
      <ion-col>
        {{sessionModelProvider.sessionStatus.s_long}}
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <strong>GPS</strong>
      </ion-col>
      <ion-col>
        {{sessionModelProvider.sessionStatus.s_gps_timestamp_formated}}
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <strong>Start Day</strong>
      </ion-col>
      <ion-col>
        {{sessionModelProvider.sessionStatus.s_entry_timestamp_formated}}
      </ion-col>
    </ion-row>
  </ion-col>

  <ion-list radio-group padding-top class="stores">
    <ion-list-header id="storeLabel">
      STORES
    </ion-list-header>

    <ion-item>
      <ion-label>Store Visit</ion-label>
      <ion-radio (click)="selectStoreType('1');" checked="true" value="1"></ion-radio>
    </ion-item>

    <ion-item>
      <ion-label>Meeting</ion-label>
      <ion-radio (click)="selectStoreType('2');" value="2"></ion-radio>
    </ion-item>

    <ion-item>
      <ion-label>Scouting</ion-label>
      <ion-radio (click)="selectStoreType('3');" value="3"></ion-radio>
    </ion-item>

    <ion-item>
      <ion-label>Travel</ion-label>
      <ion-radio (click)="selectStoreType('4');" value="4"></ion-radio>
    </ion-item>
  </ion-list>

  <ion-row *ngIf="storeType==2||storeType==3||storeType==4">
    <ion-col>
      <ion-textarea [(ngModel)]="remarks" name="remarks" placeholder="" rows="5" placeholder="Remarks"></ion-textarea>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col>
      <button ion-button class="submit-btn" block type="submit" class="left-text" (click)="timein()">Timein</button>
    </ion-col>
    <ion-col>
      <button ion-button class="submit-btn" block type="button" (click)="endDay();" color="secondary">End Day</button>
    </ion-col>
  </ion-row>

</ion-content>
