page-time-in div#dateTime {
    color: blue;
    padding-top: 10px;
    font-size: 20px;
    font-weight: bolder;
}

page-time-in #storeLabel{
    text-align: left;
    color: #000;
    font-weight: bolder;
    font-size: 20px;
}

page-time-in #startDayLabel{
    text-align: left;
    color: #000;
    font-weight: bolder;
    font-size: 20px;
    border-top: 1px solid #c2c2c2;
    padding-top: 10px;
}

page-time-in .start-day-info{
    font-size: 12px;
}

page-time-in ion-item{
    font-size: 12px !important;
}