<ion-header>

  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Time In/Out Logs</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <div *ngFor="let logKey of logDataKeys">
    <ion-row class="start-end-label">
      <ion-col text-left [innerHTML]="logKey">
      </ion-col>
    </ion-row>
    <ion-row class="table-header" text-center>
      <ion-col>
        Type
      </ion-col>
      <ion-col>
        Store Type
      </ion-col>
      <ion-col>
        Store Code
      </ion-col>
      <ion-col>
        In/Out
      </ion-col>
      <ion-col>
        Status
      </ion-col>
    </ion-row>
    <ion-row class="table-data" *ngFor="let log of logData[logKey]">
      <ion-col>
        {{log.type}}
      </ion-col>
      <ion-col>
        {{log.storeType}}
      </ion-col>
      <ion-col>
        {{log.storeCode}}
      </ion-col>
      <ion-col text-center>
        {{log.entryDateTime}}
      </ion-col>
      <ion-col text-center>
        <ion-icon *ngIf="log.flag==1" style="color: green;" name="checkbox"></ion-icon>
        <ion-icon *ngIf="log.flag==0" style="color: red;" name="checkbox"></ion-icon>
        <br/>
        <span *ngIf="log.flag==1">{{log.uploadTimestamp}}</span>
      </ion-col>
    </ion-row>
  </div>

</ion-content>
