page-logs .table-header{
    font-weight: bolder;
    font-size: 10px;
    border: 1px solid #000;
    color: blue;
}

page-logs .table-data{
    font-size: 10px;
    border-bottom: 1px solid #c2c2c2;
}

page-logs .table-data:nth-child(even){
    background-color: #edf1f7;
}

page-logs .table-data:nth-child(odd){
    background-color: #f2f2f2;
}

page-logs .table-data ion-col:first-child{
    border-left: 1px solid #c2c2c2;
}

page-logs .table-data ion-col:last-child{
    border-right: 1px solid #c2c2c2;
}

page-logs .start-end-label{
    background-color: #000;
    color: #c2c2c2;
    font-size: 12px;
    font-weight: bolder;
}
page-logs .start-end-label label{
    color: #fff;
}