<ion-header>

  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title><ion-icon name="document"></ion-icon>&nbsp;&nbsp;NFC Read</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <div padding>
    <button ion-button block round (click)="read();">Read</button>
  </div>
  <div block><p>{{data}}</p></div>
</ion-content>
