<ion-header>

  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>System Settings</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
  <ion-list>
    <ion-item>
      <ion-label stacked>Data Upload Rety (in Seconds)</ion-label>
      <ion-input type="number" [(ngModel)]="setting.data_upload_retry" required></ion-input>
    </ion-item>
    
    <ion-item>
      <ion-label stacked>Data Upload URL</ion-label>
      <ion-input type="text" [(ngModel)]="setting.data_upload_api_url" required></ion-input>
    </ion-item>

    <ion-item>
      <ion-label stacked>GPS Timeout</ion-label>
      <ion-input type="text" [(ngModel)]="setting.gps_timeout" required></ion-input>
    </ion-item>

    <ion-item>
      <ion-label stacked>NFC Read Timeout</ion-label>
      <ion-input type="text" [(ngModel)]="setting.nfc_read_timeout" required></ion-input>
    </ion-item>

    <ion-item>
      <ion-label> Require GPS</ion-label>
      <ion-toggle [(ngModel)]="setting.require_gps" [checked]="setting.require_gps==1" (ionChange)="onChange($event)"></ion-toggle>
    </ion-item>
  </ion-list>

  <ion-row>
    <ion-col>
      <button [disabled]="!found" ion-button class="submit-btn" block type="submit" class="left-text" (click)="save();"><ion-icon name="md-construct"></ion-icon>&nbsp;&nbsp;Save</button>
    </ion-col>
    <ion-col>
      <button ion-button class="submit-btn" block type="button" (click)="backToHome();" color="secondary"><ion-icon name="md-arrow-back"></ion-icon>&nbsp;&nbsp;Back to Home</button>
    </ion-col>
  </ion-row>
</ion-content>
