<ion-header>

  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Time Out</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <div id="dateTime" text-center>
    Today is
    <br/>
    <span>{{ nowDate }}</span>
    <br/>
    <span>{{ nowTime }}</span>
  </div>

  <h2 id="startDayLabel">TIME IN INFO</h2>
  <ion-col>
    <ion-row>
      <ion-col>
        <strong>Store</strong>
      </ion-col>
      <ion-col>
        {{logModelProvider.logStatus.store}}
      </ion-col>
    </ion-row>
    <ion-row *ngIf="logModelProvider.logStatus.store_type == 1">
      <ion-col>
        <strong>Store Code</strong>
      </ion-col>
      <ion-col>
        {{logModelProvider.logStatus.store_code}}
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <strong>Latitude</strong>
      </ion-col>
      <ion-col>
        {{logModelProvider.logStatus.lat}}
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <strong>Longtitude</strong>
      </ion-col>
      <ion-col>
        {{logModelProvider.logStatus.long}}
      </ion-col>
    </ion-row>
    <ion-row *ngIf="(logModelProvider.logStatus.long!=0 && logModelProvider.logStatus.lat!=0)">
      <ion-col>
        <strong>GPS</strong>
      </ion-col>
      <ion-col>
        {{logModelProvider.logStatus.gps_timestamp_formated}}
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <strong>Login</strong>
      </ion-col>
      <ion-col>
        {{logModelProvider.logStatus.entry_timestamp_formated}}
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <strong>Remarks</strong>
      </ion-col>
      <ion-col>
        <p style="white-space: pre-line;">
        {{logModelProvider.logStatus.remarks}}
        </p>
      </ion-col>
    </ion-row>
  </ion-col>

  <ion-row>
    <ion-col>
      <button ion-button class="submit-btn" block type="submit" class="left-text" (click)="timeout()">Timeout</button>
    </ion-col>
    <ion-col>
      <button ion-button class="submit-btn" block type="button" color="secondary" (click)="forgotToTimeout();">Forgot to Timeout</button>
    </ion-col>
  </ion-row>

</ion-content>
