page-time-out ion-col{
    font-size: 12px !important;
}

page-time-out div#dateTime {
    color: blue;
    padding-top: 10px;
    font-size: 20px;
    font-weight: bolder;
}

page-time-out #storeLabel{
    text-align: left;
    color: #000;
    font-weight: bolder;
    font-size: 20px;
}

page-time-out #startDayLabel{
    text-align: left;
    color: #000;
    font-weight: bolder;
    font-size: 20px;
    border-top: 1px solid #c2c2c2;
    padding-top: 10px;
}