<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      <ion-icon name="home"></ion-icon> Home
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>

  <div id="logo">
    <img src="assets/fdc.png" />
  </div>

  <div id="welcome" text-center>
    <p>
      Welcome
      <br/>
      to
      <br/>
      EyeTime
      <br/>
      <br/>
      <span>{{ nowDate }}</span>
      <br/>
      <span>{{ nowTime }}</span>
    </p>

    <button ion-button block (click)="startDay();" [disabled]="!startDayEnable">Start Day</button>
  </div>

</ion-content>
