page-home div#welcome p {
    padding-top: 30px;
    font-size: 26px;
    font-weight: bolder;
    line-height: 32px;
    padding: 0px;
}

page-home div#welcome p span {
    font-size: 20px;
    color: blue;
}

page-home div#logo img{
    padding: 0px;
    width: 60%;
    margin: 0 auto;
    display: block;
}
