<ion-menu [content]="content">
  <ion-header>
    <ion-toolbar>
      <ion-title>Menu</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <ion-list>
      <button menuClose ion-item *ngFor="let p of pages" (click)="openPage(p)">
        <ion-icon name="{{p.icon}}"></ion-icon> {{p.title}}
      </button>
      <button *ngIf="adminSession.isLog()" menuClose ion-item (click)="logout()">
        <ion-icon name="md-contact"></ion-icon> Logout
      </button>
      <button menuClose ion-item (click)="minimizeApp()">
        <ion-icon name="code-download"></ion-icon> Minimize
      </button>
    </ion-list>
  </ion-content>

</ion-menu>
<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>
