<!--
  Generated template for the NfcWrite page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title><ion-icon name="download"></ion-icon>&nbsp;&nbsp;NFC Write</ion-title>
  </ion-navbar>

</ion-header>

<ion-content padding>
  <ion-list>

    <ion-item>
      <ion-input type="text" placeholder="Input text here" [(ngModel)]="data"></ion-input>
    </ion-item>

  </ion-list>

  <div padding>
    <button ion-button block round (click)="write();">Write</button>
  </div>
</ion-content>
